
    <div class="header">
        <div class="brand">WORK<span style="color: black;">OUT</span></div>
        <div class="nav-links">
            <a href="/">HOME</a>
            <a href="/goals">GOALS</a>
            <a href="/progress">PROGRESS</a>
            <a href="/training">WORKOUT TRACKING</a>
        </div>
    </div>