
    <div class="header">
        <div class="brand">WORK<span style="color: black;">OUT</span></div>
        <div class="nav-links">
            <a href="http://localhost:4000/">HOME</a>
            <a href="http://localhost:4000/goals">GOALS</a>
            <a href="http://localhost:4000/progress">PROGRESS</a>
            <a href="http://localhost:4000/training">WORKOUT TRACKING</a>
        </div>
    </div>