<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Geologica&family=Lato:ital@1&family=Noto+Sans&family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="form-container"> 
        <div class="form-body">
            <h2>Sign in to your account</h2>
            <h3 style="margin: 5px;">or</h3>
            <h2>Join us</h2>
            <button style="font-size: medium; border-radius: 5px;">
                <img src="images/google.png" style="width: 15px; padding-left: 5px;">
                <a href="/auth/google" style="text-decoration: none; color: black;">Sign in with Google</a>
                </button>
        </div>
    </div>
</body>
</html>