<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Geologica&family=Lato:ital@1&family=Noto+Sans&family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="workout-log-container">
        <%-include ("partials/header.ejs") %>
        <div class="time-container">
            <h2>Let's start your workout</h2>  
            <div class="timer">00:00:00</div>
            <button class="start-btn">Start</button>
            <button class="pause-btn">Pause</button>
            <button class="reset-btn">Reset</button>
        </div>
        <div class="workout-container">
            <% for (var i = 0; i <list.length; i++){%>
                <form class="workout-body">
                    <h2 style="margin-bottom: 10px;"><%=list[i].name%></h2>
                    <div class="item">
                        <label for="reps">Reps:</label>
                        <input type="number" value="0" id="reps" name="reps">
                    </div>
                    <div class="item">
                        <label for="Intensity">Intensity:</label>
                        <select id="Intensity" name="Intensity">
                            <option value="">Select intensity</option>
                            <option value="low" selected>Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                    </div>
                </form>
            <%}%>
            
            
        </div>
        <button class="finish">Finish</button>
    </div>
    
        <script>
            const timeDisplay = document.querySelector(".timer");
            const startBtn = document.querySelector(".start-btn");
            const pauseBtn = document.querySelector(".pause-btn");
            const resetBtn = document.querySelector(".reset-btn");

            let startTime = 0;
            let elapsedTime = 0;
            let currentTime = 0;
            let paused = true;
            let intervalId;
            let hrs = 0;
            let mins = 0;
            let secs = 0;

            startBtn.addEventListener("click", (e) => {
                e.preventDefault();
                if(paused){
                    paused = false;
                    startTime = Date.now() - elapsedTime;
                    intervalId = setInterval(updateTime, 1000);
                }
            });
            pauseBtn.addEventListener("click", (e) => {
                e.preventDefault();
                if(!paused){
                    paused = true;
                    elapsedTime = Date.now() - startTime;
                    clearInterval(intervalId);
                }
            });
            resetBtn.addEventListener("click", (e) => {
                e.preventDefault();
                paused = true;
                clearInterval(intervalId);
                startTime = 0;
                elapsedTime = 0;
                currentTime = 0;
                hrs = 0;
                mins = 0;
                secs = 0;
                timeDisplay.textContent = "00:00:00";
            });

            function updateTime(){
                elapsedTime = Date.now() - startTime;

                secs = Math.floor((elapsedTime / 1000) % 60);
                mins = Math.floor((elapsedTime / (1000 * 60)) % 60);
                hrs = Math.floor((elapsedTime / (1000 * 60 * 60)) % 60);

                secs = pad(secs);
                mins = pad(mins);
                hrs = pad(hrs);

                timeDisplay.textContent = `${hrs}:${mins}:${secs}`;

                function pad(unit){
                    return (("0") + unit).length > 2 ? unit : "0" + unit;
                }
            }
            
            const form = document.querySelectorAll('form');
            // console.log(form)    
            document.querySelector('.finish').addEventListener('click',async(e)=>{
                e.preventDefault();
                let intensity = [];
                for(let i = 0; i < form.length; i++){
                    intensity.push(form[i].Intensity.value);
                }
                let reps = [];
                for(let i = 0; i < form.length; i++){
                    reps.push(form[i].reps.value);
                }
                let temp;
                if(startTime==0) temp = 0;
                else temp = (Date.now() - startTime)/1000;
                const response = await fetch('/home/workout',{
                    method: 'POST',
                    body: JSON.stringify({
                        reps: reps,
                        intensity: intensity,
                        time: temp
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                console.log(await response.json());
                location.replace("http://localhost:4000/home");
            })
        </script>
</body>
</html>